.leaderboard {
  width: -webkit-fill-available;
  background-image: url("../../assets/images/leader.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;

  flex-direction: column;
  align-items: center;

  padding-inline: 2rem;

  .modal_leaderboard {
    max-width: 100%;
    margin-top: 42px;

    padding-inline: 1px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header {
    height: 68px;
    background: black;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .row_position {
    display: flex;
    width: 30px;
    height: 22px;
    border: 2px solid #ffffff;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
  }
  .row_lvl {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 47px;
    background: white;
    border-radius: 16px;
    color: black;
  }

  .row_player {
    display: flex;
    gap: 12px;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .row_name {
        font-weight: bold;
      }
    }
  }
}

.row_ownerId {
  border-bottom: 1px solid #35b5d4;
  color: #35b5d4;
}
