.buttonText {
}

.pointButtonWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  & > :nth-child(1) {
    margin-right: auto;
  }
  & > .pointButton:last-child {
    border-radius: 0 8px 8px 0;
  }
  & > .pointButton:nth-child(2) {
    border-radius: 8px 0 0 8px;
  }
}

.pointButton {
  height: 30px;
  width: 30px;
  border: 1px solid rgba(208, 213, 221, 1);
  font-size: 12px;
  box-sizing: border-box;
  padding: 0px;
  background: #664d3573;
  color: white;
  cursor: pointer;
}
