.header {
  width: 100%;
  height: 80px;
  flex-shrink: 0;
  background: black;
  padding: 0px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 750px) {
    padding: 0 3rem;
  }

  @media screen and (max-width: 600px) {
    padding: 0 2rem;
  }
}

.header_nav {
  flex: 1;
  max-width: 500px;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  gap: 20px;
  padding-inline: 15px;
  justify-content: space-between;
  & > a {
    color: white;
    text-decoration: none;
    text-wrap: nowrap;
    &.active {
      color: #2c67ff;
    }
  }

  @media screen and (max-width: 450px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;

    & > a {
      margin: auto;
      margin-block: 0.5rem !important;
      margin-inline: 0.5rem;
    }
  }
}

/*
 * MOBILE
 */
@media screen and (max-width: 450px) {
  .header_title {
    margin-top: 1rem;
  }

  .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0;
    padding: 0;
    padding-bottom: 0.6rem;
  }

  .wallet_wrapper {
    margin-block: 0.5rem !important;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    flex-wrap: wrap;
    height: unset;
  }
  .header_nav {
    position: unset;
    right: unset;
    margin-inline: auto;
  }

  .wallet_wrapper {
    min-width: 208px;
  }

  .header_nav a,
  .wallet_wrapper {
    margin-block: 1rem;
  }

  .header_title {
    margin-top: 2rem;
  }

  /*
  * Order
  */
  .header_title {
    order: 1;
  }
  .wallet_wrapper {
    order: 2;
  }
  .header_nav {
    order: 3;
  }
}

.header_title {
  font-family: "serpiente_display_triadisplay";
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
