.header {
  width: 100%;
  height: 80px;
  background: black;
  padding: 0px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.header_nav {
  width: 500px;
  font-size: 18px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  & > a {
    color: white;
    text-decoration: none;
    &.active {
      color: #2c67ff;
    }
  }
}

@media screen and (max-width: 1250px) {
  .header {
    flex-wrap: wrap;
    height: unset;
  }
  .header_nav {
    position: unset;
    right: unset;
    margin-inline: auto;
  }

  .header_nav a,
  .wallet_wrapper {
    margin-block: 1rem;
  }

  .header_title {
    margin-top: 2rem;
  }

  /*
  * Order
  */
  .header_title {
    order: 1;
  }
  .wallet_wrapper {
    order: 2;
  }
  .header_nav {
    order: 3;
  }
}

.header_title {
  font-family: "serpiente_display_triadisplay";
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
