.header {
  width: 100%;
  height: 80px;
  background: black;
  padding: 0px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.header_nav {
  position: absolute;
  right: calc(50% - 195px);
  width: 500px;
  font-size: 18px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  & > a {
    color: white;
    text-decoration: none;
    &.active {
      color: #2c67ff;
    }
  }
}

.header_title {
  font-family: "serpiente_display_triadisplay";
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
