target/
.binpath
.metahash
frontend/.env
frontend/node_modules
frontend/build
frontend/.vscode
frontend/.DS_Store
frontend/.DS_Store?
**/*.code-workspace

**/*/.idea

#backend
backend/.env
backend/.vscode
backend/node_modules
backend/bim
backend/src/polkadot-account
#end of backend
