.profile {
  padding-top: 40px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-image: url("../../assets/images/profile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile_alert_cancel,
  .profile_alert_accept {
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    color: red;
    border: none;
    font-size: 16px;

    &:active {
      color: rgb(168, 0, 0);
    }
  }

  .profile_alert_accept {
    color: rgb(51, 111, 251);

    &:active {
      color: rgb(0, 50, 168);
    }
  }

  .back_button {
    position: absolute;
    top: 162px;
    left: 206px;
    color: white;
    width: 86px;
    height: 40px;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 8px;
  }

  .profile_char {
    display: flex;
    gap: 15px;
  }
  .profile_data,
  .profile_equip {
    box-sizing: border-box;
    width: 375px;
    height: 442px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    border: 2px solid white;
    position: relative;
    padding: 14px 24.5px 26px;
  }

  .profile_user {
    display: flex;
    gap: 20px;
    height: 79px;
    width: 100%;
    padding-bottom: 23px;
    margin-bottom: 23px;
    border-bottom: 1px solid white;

    .profile_name {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      & > p {
        font-weight: bold;
        font-size: 18px;
        &:first-child {
          font-weight: bold;
          font-size: 22px;
        }
        &:last-child {
          display: flex;
          justify-content: space-between;
          color: #2c67ff;
        }
      }
    }
  }

  .profile_armour {
    font-weight: bold;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    padding-bottom: 23px;
    border-bottom: 1px solid white;
  }

  .profile_stats {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    & > div {
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;

      span:last-child {
        color: #2c67ff;
        border-bottom: 2px solid #2c67ff;
      }

      & > div {
        display: flex;
        gap: 10px;
        font-size: 16px;
      }
    }

    .profile_increase_stat {
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      outline: none;
      background: rgba(255, 255, 255, 0.186);
      color: white;
      font-size: 26px;
      padding: 0;
    }
  }

  .imgWrapper {
    position: relative;
  }

  .lock_img1 {
    position: absolute;
    top: 0px;
    left: calc(50% - 35px);
  }
  .lock_img2 {
    position: absolute;
    top: 30px;
    left: 0px;
  }
  .lock_img3 {
    position: absolute;
    top: 105px;
    left: 0px;
  }
  .lock_img4 {
    position: absolute;
    top: 180px;
    left: 0px;
  }
  .lock_img5 {
    position: absolute;
    top: 255px;
    left: 0px;
  }
  .char_svg {
    position: absolute;
    top: 87px;
    left: calc(50% - 69.5px);
  }
  .lock_img6 {
    position: absolute;
    top: 30px;
    right: 0px;
  }
  .lock_img7 {
    position: absolute;
    top: 105px;
    right: 0px;
  }
  .lock_img8 {
    position: absolute;
    top: 180px;
    right: 0px;
  }
  .lock_img9 {
    position: absolute;
    top: 255px;
    right: 0px;
  }
}

.row_player {
  display: flex;
  align-items: center;
  gap: 10px;
}

.row_win {
  color: #1ef01e;
}
.row_lose {
  color: #ff4c4c;
}

.row_lvl {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 22px;
  border-radius: 16px;
  background: white;
  color: black;
  padding: 2px 8px;
}
