.select_control {
  width: 100%;
  border-radius: 8px;
  height: 44px;
  color: #101828;
  display: flex;
  gap: 8px;
  justify-content: flex-start !important;
}

.select_value {
  padding-left: 10px;
}
