.logs {
  width: -webkit-fill-available;
  background-image: url("../../assets/images/battle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: 3rem;
  padding-bottom: 2rem;

  .table_row {
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .modal_leaderboard {
    width: 100%;
    min-width: 600px;
    max-width: 700px;

    display: flex;
    flex-direction: column;

    margin-top: 42px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header {
    height: 68px;
    background: black;

    border: 2px solid white;

    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .modal_table {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    background: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
    & * {
      color: white;
    }
  }

  .badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    //
    border: 2px solid #ffffff;
    border-radius: 16px;
    //
    font-size: 12px;
    font-weight: bold;
    //
    padding: 0.1rem 0.8rem;
  }
  .row_lvl {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 47px;
    background: white;
    border-radius: 16px;
    color: black;
  }

  .row_player {
    display: flex;
    gap: 12px;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .row_name {
        font-weight: bold;
      }
    }
  }
}
