.footer {
  height: 70px;
  display: flex;
  background: #222225;
  margin: 10px -32px -32px;
  border-radius: 0 0 20px 20px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.logout {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 18px;
  cursor: pointer;
  color: white;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: rgb(167, 167, 167);
  }
}
