// .profile_alert_accept {
// }

// .profile_alert_calcel {
// }

.profile_user {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 1rem;

  .profile_avatar {
    --size: 86px;
    width: var(--size);
    height: var(--size);
    border-radius: 999999px;
  }

  .my_avatar {
    border: 2px solid #2c67ff;
  }
  .profile_photo {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .profile_create_new {
      font-size: 12px;
      background: #2c67ff;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #3f75fd;
      }

      &:active {
        background: #1958f8;
      }
    }
  }

  .profile_name {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    & > p {
      font-size: 18px;
      &:first-child {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 0.3rem;
      }
      &:last-child {
        display: flex;
        justify-content: space-between;
        color: #2c67ff;
      }
    }
  }

  .level_bar_wrapper {
    margin-top: 0.7rem;

    display: flex;
    align-items: center;
    gap: 0.7rem;

    font-weight: bold;
    font-size: 18px;

    .level_bar {
      flex: 1;
      height: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 99999px;
      overflow: hidden;
    }

    .level_bar_progress {
      height: 100%;
      background-color: white;
      transition: max-width 0.5s ease-in-out;
    }
  }
}
