.scr_start {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-image: url('../../assets/images/startScreen.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & > p {
    color: white;
    font-size: 157px;
  }

  .button {
    cursor: pointer;
    height: 60px;
    width: 350px;
    position: absolute;
    top: calc(50% - 30px);
    color: white;
    background: black;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    padding: 16px 28px;

    &:hover {
      border-color: rgba(0, 64, 255, 0.539);
    }
  }
}
