.leftText {
  margin-right: auto;
}

.Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: space-between;
  color: white;
  font-size: 18px;
  flex-wrap: wrap;
  gap: 15px;
  margin: 8px 0;
}

.healthBar {
  background-color: red;
  border-radius: 4px;
  width: 185px;
  height: 8px;
}

.energyBar {
  background-color: blue;
  border-radius: 4px;
  width: 185px;
  height: 8px;
}

.number {
  width: 50px;
  justify-self: flex-end;
  margin-left: auto;
}
