.logs {
  width: -webkit-fill-available;
  background-image: url("../../assets/images/battle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: 2rem;

  .modal_leaderboard {
    min-width: 500px;

    margin-top: 42px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header {
    height: 68px;
    background: black;

    border: 2px solid white;

    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .modal_table {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    & * {
      color: white;
    }
  }

  .row_position {
    display: flex;
    width: 76px;
    height: 22px;
    border: 2px solid #ffffff;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
  }
  .row_lvl {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 47px;
    background: white;
    border-radius: 16px;
    color: black;
  }

  .row_player {
    display: flex;
    gap: 12px;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .row_name {
        font-weight: bold;
      }
    }
  }
}
