.lobby_content_wrapper {
  width: -webkit-fill-available;
  background-image: url("../../assets/images/waitingScreen.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  overflow: scroll;
  padding: 1.5rem 2rem 6rem;

  .modal_queue {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  --lobby-width: 540px;

  .modal_loader {
    width: var(--lobby-width);
    background: rgba(0, 0, 0, 0.7);
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .modal_progress {
      -webkit-animation: rotating 1s linear infinite;
      animation: rotating 1s linear infinite;
    }

    .modal_tille {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: 600;
    }
    .modal_info {
      margin: 10px 0;
    }
    .modal_badge {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      background: #2c67ff;
      color: white;
      // width: 96px;
      padding: 0 8px;
      height: 22px;
      border-radius: 40px;
    }
  }

  .modal_table {
    width: var(--lobby-width);
  }

  @mixin button_common {
    width: 200px;
    height: 44px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 18px;
  }

  .action_button {
    @include button_common;
    margin-top: 2rem;
    color: white;
    border: none;

    &.disabled {
      background: #656565;
    }
  }

  .cancel_button {
    @include button_common;
    margin-top: 0.7rem;
    border: 1px solid rgba(208, 213, 221, 1);
    color: #344054;
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
