.app {
  min-height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;

  & > div {
    &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
